Repository ninagadelha/Senior_Design_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, deploy-backend, deploy-frontend

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  REGION: $AWS_REGION
  CLUSTER: $ECS_CLUSTER_NAME
  ECR_REGISTRY: 471112510011.dkr.ecr.us-east-2.amazonaws.com  # update if needed

# ===============================
# Build Backend with Kaniko
# ===============================
build-backend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - >
      /kaniko/executor
      --context $CI_PROJECT_DIR/Backend
      --dockerfile $CI_PROJECT_DIR/Backend/Dockerfile
      --destination $ECR_REPO_BACKEND:$IMAGE_TAG
      --destination $ECR_REPO_BACKEND:latest
      --insecure
      --insecure-pull
      --skip-tls-verify
  only:
    changes:
      - Backend/**/*
      - .gitlab-ci.yml

# ===============================
# Build Frontend with Kaniko
# ===============================
build-frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - >
      /kaniko/executor
      --context $CI_PROJECT_DIR/iinspire-app
      --dockerfile $CI_PROJECT_DIR/iinspire-app/Dockerfile
      --destination $ECR_REPO_FRONTEND:$IMAGE_TAG
      --destination $ECR_REPO_FRONTEND:latest
      --insecure
      --insecure-pull
      --skip-tls-verify
  only:
    changes:
      - iinspire-app/**/*
      - .gitlab-ci.yml

# ===============================
# Deploy Backend to ECS
# ===============================
deploy-backend:
  stage: deploy
  image: amazonlinux:2
  before_script:
    - yum install -y unzip curl
    - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
    - unzip awscliv2.zip
    - ./aws/install
  script:
    - "echo Deploying backend..."
    - "echo Cluster: $ECS_CLUSTER_NAME"
    - "echo Service: $ECS_SERVICE_BACKEND"
    - "echo Region: $AWS_REGION"
    - "/usr/local/bin/aws ecs update-service --cluster $ECS_CLUSTER_NAME --service $ECS_SERVICE_BACKEND --force-new-deployment --region $AWS_REGION"
  only:
    changes:
      - Backend/**/*
      - .gitlab-ci.yml
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY



# ===============================
# Deploy Frontend to ECS
# ===============================
deploy-frontend:
  stage: deploy
  image: bitnami/aws-cli:latest
  script:
    - echo "Deploying frontend..."
    - echo "Cluster: $ECS_CLUSTER_NAME"
    - echo "Service: $ECS_SERVICE_FRONTEND"
    - echo "Region: $AWS_REGION"
    - aws ecs update-service --cluster "$ECS_CLUSTER_NAME" --service "$ECS_SERVICE_FRONTEND" --force-new-deployment --region "$AWS_REGION"
  only:
    changes:
      - iinspire-app/**/*
      - .gitlab-ci.yml
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY

change db port
  Backend/Dockerfile
Due: build-backend, deploy-backend

routes
  iinspire-app/src/components/TheSurvey.tsx
  iinspire-app/src/components/util/login-box.tsx
Due: build-frontend, deploy-frontend

login debug
  iinspire-app/src/components/util/login-box.tsx
Due: build-frontend, deploy-frontend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build-backend, build-frontend, deploy-backend, deploy-frontend

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: build-backend, build-frontend, deploy-backend, deploy-frontend

Added saved arrays to database
  Backend/api/surveyResults/surveyResults.service.js
Due: build-backend, deploy-backend

Added admin endpoints
  Backend/api/UserNew/User.controller.js
  Backend/api/UserNew/User.router.js
  Backend/api/UserNew/User.service.js
  Backend/api/program/program.service.js
  Backend/api/surveyResults/surveyResults.controller.js
  Backend/api/surveyResults/surveyResults.router.js
  Backend/api/surveyResults/surveyResults.service.js
Due: build-backend, deploy-backend

actual dark mode fix
  iinspire-app/src/app/student-survey/page.tsx
  iinspire-app/src/components/TheSurvey.tsx
Due: build-frontend, deploy-frontend

added basic about page
  iinspire-app/public/images/custom/group_collaboration_stock_photo.jpg
  iinspire-app/src/app/about/page.tsx
  iinspire-app/src/components/util/about-section.tsx
Due: build-frontend, deploy-frontend

save survey request works!! yay!!
  iinspire-app/src/components/TheSurvey.tsx
Due: build-frontend, deploy-frontend

commented out code routes
  Backend/api/codes/codes.controller.js
  Backend/api/codes/codes.router.js
  Backend/api/codes/codes.service.js
  Backend/app.js
Due: build-backend, deploy-backend

Added Code functionality
  Backend/api/codes/codes.controller.js
  Backend/api/codes/codes.router.js
  Backend/api/codes/codes.service.js
  Backend/api/program/program.controller.js
  Backend/api/program/program.service.js
  Backend/app.js
Due: build-backend, deploy-backend

Finished Excel download endpoint
  Backend/api/UserNew/User.service.js
  Backend/api/surveyResults/surveyResults.controller.js
  Backend/api/surveyResults/surveyResults.service.js
  Backend/node_modules/.package-lock.json
  Backend/package-lock.json
  Backend/package.json
Due: build-backend, deploy-backend

testing stuff
  iinspire-app/src/components/util/login-box.tsx
Due: build-frontend, deploy-frontend

testing stuff
  iinspire-app/Dockerfile
  iinspire-app/package.json
Due: build-frontend, deploy-frontend

testing stuff
  iinspire-app/Dockerfile
  iinspire-app/package.json
  iinspire-app/src/components/util/login-box.tsx
Due: build-frontend, deploy-frontend

testing stuff
  iinspire-app/src/app/api/health/route.ts
Due: build-frontend, deploy-frontend

docker changes
  iinspire-app/Dockerfile
Due: build-frontend, deploy-frontend

frontend dep tes
  iinspire-app/src/components/util/login-box.tsx
Due: build-frontend, deploy-frontend

backend dep changes
  Backend/app.js
Due: build-backend, deploy-backend

changed survey results to post
  Backend/api/surveyResults/surveyResults.router.js
Due: build-backend, deploy-backend

using backend endpoint to get avgscores
  iinspire-app/src/components/results/Profile.tsx
Due: build-frontend, deploy-frontend

start create user without nextauth for backend
  Backend/api/UserNew/User.controller.js
  Backend/api/UserNew/User.service.js
  iinspire-app/src/app/auth/signin.tsx
  iinspire-app/src/app/create-account/page.tsx
Due: build-backend, build-frontend, deploy-backend, deploy-frontend

nextAuth config
  iinspire-app/src/types/next-auth.d.ts
  iinspire-app/tsconfig.json
Due: build-frontend, deploy-frontend

nextAuth config
  iinspire-app/Dockerfile
  iinspire-app/package.json
Due: build-frontend, deploy-frontend

nicer looking pdf
  iinspire-app/package-lock.json
  iinspire-app/package.json
  iinspire-app/public/styles/profile.css
  iinspire-app/src/components/results/Profile.tsx
  iinspire-app/src/components/results/graph.tsx
  iinspire-app/src/types/jsPDF.d.ts
Due: build-frontend, deploy-frontend

env setup and test on loginBox
  iinspire-app/.gitignore
  iinspire-app/src/components/util/login-box.tsx
  iinspire-app/src/constants/config.ts
  iinspire-app/src/env.d.ts
  iinspire-app/tsconfig.json
Due: build-frontend, deploy-frontend

various small fixes, starting point for student resources page
  iinspire-app/Dockerfile
  iinspire-app/src/app/student-resources/page.tsx
  iinspire-app/src/app/surveys-home/page.tsx
  iinspire-app/src/components/dashboards/StudentDashboardNew.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend
