Repository ninagadelha/Senior_Design_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, deploy-frontend

build-backend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  ...

build-frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  ...

deploy-frontend:
  stage: deploy
  image: amazonlinux:2
  before_script:
  - yum install -y unzip curl jq
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  script:
  - echo "Fetching current task definition..."
  ...

changed links to post
  Backend/api/links/links.router.js
Due: build-backend

changed the results endpoint to use the new .env file
  iinspire-app/src/components/results/Profile.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

Changed User and program to POST routes
  Backend/api/UserNew/User.router.js
  Backend/api/program/program.router.js
Due: build-backend

Created pc-select-program page and implemented buttons to select program and navigate to correct pages
  iinspire-app/src/app/pc-create-program/page.tsx
  iinspire-app/src/app/pc-select-program/page.tsx
  iinspire-app/src/app/pc-surveys-home/page.tsx
  iinspire-app/src/components/dashboards/PC-selectProgramScreen.tsx
  iinspire-app/src/components/util/footer.tsx
  iinspire-app/src/components/util/login-box.tsx
  iinspire-app/src/constants/config.ts
  iinspire-app/tsconfig.json
Due: build-frontend, deploy-frontend

added local stprage feature for the selected program of a PC
  iinspire-app/src/components/dashboards/PC-selectProgramScreen.tsx
  iinspire-app/src/context/auth-context.tsx
Due: build-frontend, deploy-frontend

updates for a "removeSelectedProgram" function
  iinspire-app/src/context/auth-context.tsx
Due: build-frontend, deploy-frontend

API URL
  iinspire-app/src/env.d.ts
Due: build-frontend, deploy-frontend

reverted changes
  iinspire-app/src/env.d.ts
Due: build-frontend, deploy-frontend

Changed code service to include PC
  Backend/api/codes/codes.service.js
Due: build-backend

fix survey endpoints to use .env
  iinspire-app/package-lock.json
  iinspire-app/package.json
  iinspire-app/src/components/TheSurvey.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

Fixed Post New User
  Backend/api/UserNew/User.service.js
Due: build-backend

added the create account page
  iinspire-app/src/app/create-account/page.tsx
  iinspire-app/src/components/util/create-account.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

adding missing dependencies
  iinspire-app/package-lock.json
  iinspire-app/package.json
Due: build-frontend, deploy-frontend

using css instead of chakra to resolve dep issues
  iinspire-app/package-lock.json
  iinspire-app/package.json
  iinspire-app/public/styles/createAccount.css
  iinspire-app/src/app/create-account/page.tsx
  iinspire-app/src/components/util/create-account.tsx
Due: build-frontend, deploy-frontend

use older version of react ??
  iinspire-app/package-lock.json
  iinspire-app/src/app/create-account/page.tsx
Due: build-frontend, deploy-frontend

PC dashboard updates
  iinspire-app/public/colors.tsx
  iinspire-app/src/app/pc-program-resources/page.tsx
  iinspire-app/src/app/pc-view-students/page.tsx
  iinspire-app/src/components/dashboards/PC-Dashboard.tsx
  iinspire-app/src/components/dashboards/PC-selectProgramScreen.tsx
  iinspire-app/src/components/dashboards/dashboard-route-card.tsx
  iinspire-app/src/context/auth-context.tsx
Due: build-frontend, deploy-frontend

pipeline fixes
  iinspire-app/src/app/student-resources/page.tsx
Due: build-frontend, deploy-frontend

added basic help page
  iinspire-app/src/app/pc-help-page/page.tsx
  iinspire-app/src/components/dashboards/PC-Dashboard.tsx
Due: build-frontend, deploy-frontend

added group 0 to survey results
  Backend/api/surveyResults/surveyResults.controller.js
  Backend/api/surveyResults/surveyResults.service.js
  Backend/node_modules/.package-lock.json
  Backend/package-lock.json
  Backend/package.json
Due: build-backend

Added description to link
  Backend/api/links/links.controller.js
  Backend/api/links/links.service.js
Due: build-backend

Updated git ignore
  .gitignore
Due: none

Stop tracking iinspire-app/package.json and package-lock.json
  iinspire-app/package-lock.json
  iinspire-app/package.json
Due: build-frontend, deploy-frontend

updated gitignore
  .gitignore
Due: none

fixed gitignore
  .gitignore
Due: none

Fixed surveyresult max values
  Backend/api/surveyResults/surveyResults.controller.js
  Backend/api/surveyResults/surveyResults.service.js
Due: build-backend

added title to links
  Backend/api/links/links.controller.js
  Backend/api/links/links.service.js
Due: build-backend

PC resources page plus removed alert() and replaced with Toast messages for login
  iinspire-app/src/app/layout.tsx
  iinspire-app/src/app/pc-program-resources/page.tsx
  iinspire-app/src/components/dashboards/dashboard-info-card.tsx
  iinspire-app/src/components/ui/toaster.tsx
  iinspire-app/src/components/util/login-box.tsx
Due: build-frontend, deploy-frontend

added "example resources" component
  iinspire-app/src/app/pc-program-resources/page.tsx
  iinspire-app/src/components/dashboards/dashboard-info-card.tsx
Due: build-frontend, deploy-frontend

Added "Add resource" feature
  iinspire-app/src/app/pc-program-resources/page.tsx
  iinspire-app/src/components/dashboards/dashboard-info-card.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

Fixed package-lock and package.json
  iinspire-app/package-lock.json
  iinspire-app/package.json
Due: build-frontend, deploy-frontend

Backend Connection
  Backend/api/UserNew/User.router.js
  Backend/app.js
Due: build-backend

Backend Connection
  iinspire-app/Dockerfile
  iinspire-app/package-lock.json
  iinspire-app/package.json
  iinspire-app/src/components/util/login-box.tsx
  node_modules/.package-lock.json
  node_modules/cors/CONTRIBUTING.md
  node_modules/cors/HISTORY.md
  node_modules/cors/LICENSE
  node_modules/cors/README.md
  node_modules/cors/lib/index.js
  node_modules/cors/package.json
  node_modules/object-assign/index.js
  node_modules/object-assign/license
  node_modules/object-assign/package.json
  node_modules/object-assign/readme.md
  node_modules/vary/HISTORY.md
  node_modules/vary/LICENSE
  node_modules/vary/README.md
  node_modules/vary/index.js
  node_modules/vary/package.json
  package-lock.json
  package.json
Due: build-frontend, deploy-frontend

Backend Connection
  iinspire-app/.env.production
Due: build-frontend, deploy-frontend

base page
  iinspire-app/src/app/pc-create-program/page.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

added navbar and footer
  iinspire-app/src/app/pc-create-program/page.tsx
Due: build-frontend, deploy-frontend

fixed git issues
  iinspire-app/src/app/pc-create-program/page.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

fixed post links desc title
  Backend/api/links/links.controller.js
  Backend/api/links/links.service.js
Due: build-backend

Fixed Survey Excel Dump
  Backend/api/UserNew/User.controller.js
  Backend/api/surveyResults/surveyResults.controller.js
  Backend/api/surveyResults/surveyResults.service.js
Due: build-backend

Path conditions:
  build-backend: any of: Backend/**/*, .gitlab-ci.yml
  build-frontend: any of: iinspire-app/**/*, .gitlab-ci.yml
  deploy-frontend: any of: iinspire-app/**/*, .gitlab-ci.yml
