Repository ninagadelha/Senior_Design_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, deploy-backend, deploy-frontend

Path conditions:
  build-backend: any of: Backend/**/*, .gitlab-ci.yml
  build-frontend: any of: iinspire-app/**/*, .gitlab-ci.yml
  deploy-backend: any of: Backend/**/*, .gitlab-ci.yml
  deploy-frontend: any of: iinspire-app/**/*, .gitlab-ci.yml

fixed last question spacing
  iinspire-app/src/components/util/SurveyItem.tsx
Due: build-frontend, deploy-frontend

finished about page
  iinspire-app/public/iinspirePdf.pdf
  iinspire-app/src/app/about/page.tsx
  iinspire-app/src/components/util/about-section.tsx
Due: build-frontend, deploy-frontend

navbar/footer fixes
  Backend/node_modules/.package-lock.json
  Backend/package-lock.json
  Backend/package.json
  iinspire-app/public/images/custom/tree_sprout_clear.png
  iinspire-app/src/components/util/footer.tsx
  iinspire-app/src/components/util/navbar.tsx
Due: build-backend, build-frontend, deploy-backend, deploy-frontend

navabr and footer fixes, student resources page done
  iinspire-app/package-lock.json
  iinspire-app/src/app/student-resources/page.tsx
  iinspire-app/src/components/dashboards/dashboard-info-card.tsx
  iinspire-app/src/components/util/login-box.tsx
  iinspire-app/src/components/util/navbar.tsx
  iinspire-app/src/context/auth-context.tsx
Due: build-frontend, deploy-frontend

edits for student pages
  iinspire-app/public/styles/profile.css
  iinspire-app/src/components/TheSurvey.tsx
  iinspire-app/src/components/dashboards/StudentDashboardNew.tsx
  iinspire-app/src/components/util/about-section.tsx
Due: build-frontend, deploy-frontend

formatted admin page
  iinspire-app/src/app/admin-home/page.tsx
Due: build-frontend, deploy-frontend

edits for PC pages
  iinspire-app/src/app/pc-programs-home/page.tsx
  iinspire-app/src/app/pc-view-students/page.tsx
  iinspire-app/src/components/dashboards/PC-selectProgramScreen.tsx
Due: build-frontend, deploy-frontend

new logo and hardcoded fonts
  .DS_Store
  iinspire-app/public/images/custom/tree_sprout_new.png
  iinspire-app/public/styles/createAccount.css
  iinspire-app/src/app/admin-home/page.tsx
  iinspire-app/src/components/util/create-account.tsx
  iinspire-app/src/components/util/footer.tsx
  iinspire-app/src/components/util/navbar.tsx
Due: build-frontend, deploy-frontend

fixed a whole bunch of junk
  iinspire-app/public/images/custom/tree_sprout_large.png
  iinspire-app/public/images/custom/tree_sprout_medium.png
  iinspire-app/src/app/pc-help-page/page.tsx
  iinspire-app/src/components/dashboards/StudentDashboardNew.tsx
  iinspire-app/src/components/util/SurveyItem.tsx
  iinspire-app/src/components/util/about-section.tsx
Due: build-frontend, deploy-frontend

fixed login bug
  Backend/api/UserNew/User.controller.js
Due: build-backend, deploy-backend

some changes
  iinspire-app/src/app/admin-home/page.tsx
  iinspire-app/src/app/pc-program-resources/page.tsx
  iinspire-app/src/components/dashboards/PC-Dashboard.tsx
  iinspire-app/src/components/dashboards/PC-selectProgramScreen.tsx
Due: build-frontend, deploy-frontend

Testing with initial README
  README.md
Due: none

add website code/info?
  website-files/.gitkeep
Due: none

able to run frontend and backend on local
  Backend/api/UserNew/User.router.js
  iinspire-app/public/colors.tsx
  iinspire-app/src/constants/config.ts
  node_modules/.package-lock.json
  package-lock.json
Due: build-backend, build-frontend, deploy-backend, deploy-frontend

sanity check (still works w hardcoded email)
  Backend/api/UserNew/User.controller.js
  iinspire-app/src/app/student-manage-acc/page.tsx
  iinspire-app/src/components/util/login-box.tsx
Due: build-backend, build-frontend, deploy-backend, deploy-frontend

added key to backend
  Backend/.env.production
Due: build-backend, deploy-backend
