Repository ninagadelha/Senior_Design_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, deploy-frontend

build-backend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  ...

build-frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  ...

deploy-frontend:
  stage: deploy
  image: amazonlinux:2
  before_script:
  - yum install -y unzip curl jq
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  script:
  - echo "Fetching current task definition..."
  ...

Created new CSV downloads for Admin and PC and Questions
  Backend/api/questions/questions.controller.js
  Backend/api/questions/questions.router.js
  Backend/api/surveyResults/surveyResults.controller.js
  Backend/api/surveyResults/surveyResults.router.js
  Backend/api/surveyResults/surveyResults.service.js
Due: build-backend

Edit app.js
  Backend/app.js
Due: build-backend

Edit Dockerfile
  Backend/Dockerfile
Due: build-backend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build-backend, build-frontend, deploy-frontend

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: build-backend, build-frontend, deploy-frontend

changes for docker building
  Backend/.env.production
  Backend/app.js
  Backend/package.json
  iinspire-app/.env.production
Due: build-backend, build-frontend, deploy-frontend

changes for docker building
  Backend/Dockerfile
  Backend/app.js
Due: build-backend

fixing hydration issue
  iinspire-app/next.config.ts
  iinspire-app/package.json
  iinspire-app/public/styles/theme.ts
  iinspire-app/src/app/layout.tsx
  iinspire-app/src/components/ui/provider.tsx
Due: build-frontend, deploy-frontend

fixed localhost
  Backend/api/UserNew/User.router.js
  Backend/package.json
Due: build-backend

logic for seeing if user already exists
  Backend/api/UserNew/User.controller.js
  Backend/api/UserNew/User.router.js
  Backend/app.js
Due: build-backend

fixed create new program, now works
  iinspire-app/src/app/pc-create-program/page.tsx
Due: build-frontend, deploy-frontend

added dependecy to docker file
  Backend/package.json
Due: build-backend

completed "delete resource", fixed add resource, fixed displaying of title and descriptions
  iinspire-app/src/app/pc-program-resources/page.tsx
  iinspire-app/src/components/dashboards/dashboard-info-card.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

fixed issue with resource count not displaying on pc home page
  iinspire-app/src/components/dashboards/PC-Dashboard.tsx
  iinspire-app/src/components/dashboards/PC-selectProgramScreen.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

fix for user
  Backend/api/UserNew/User.controller.js
  Backend/app.js
Due: build-backend

Switched desc and title for link post route
  Backend/api/links/links.service.js
Due: build-backend

Prod/Local Working
  Backend/.env
  Backend/Dockerfile
  Backend/app.js
  iinspire-app/Dockerfile
Due: build-backend, build-frontend, deploy-frontend

compare past results and started admin dashboard
  iinspire-app/public/styles/profile.css
  iinspire-app/src/app/download-csv/page.tsx
  iinspire-app/src/app/generate-code/page.tsx
  iinspire-app/src/app/program-info/page.tsx
  iinspire-app/src/components/dashboards/Admin-Dashboard.tsx
  iinspire-app/src/components/dashboards/dashboard-route-card.tsx
  iinspire-app/src/components/results/Profile.tsx
  iinspire-app/src/components/results/graph.tsx
Due: build-frontend, deploy-frontend

changing pc home page to reflect surveys to programs change
  iinspire-app/src/app/pc-programs-home/page.tsx
  iinspire-app/src/components/dashboards/PC-Dashboard.tsx
  iinspire-app/src/components/dashboards/PC-selectProgramScreen.tsx
  iinspire-app/src/context/auth-context.tsx
Due: build-frontend, deploy-frontend

Added Delete a program
  Backend/api/program/program.controller.js
  Backend/api/program/program.router.js
  Backend/api/program/program.service.js
Due: build-backend

Students can join a new program by code
  Backend/api/codes/codes.controller.js
  Backend/api/codes/codes.router.js
  Backend/api/codes/codes.service.js
Due: build-backend

added last question group and fixed labels
  iinspire-app/src/app/student-survey/SurveyQuestionInterface.ts
  iinspire-app/src/components/TheSurvey.tsx
  iinspire-app/src/components/util/SurveyItem.tsx
Due: build-frontend, deploy-frontend

created admin dashboard
  iinspire-app/src/app/admin-home/AdminHome.module.css
  iinspire-app/src/app/admin-home/page.tsx
  iinspire-app/src/app/download-csv/page.tsx
  iinspire-app/src/app/generate-code/page.tsx
Due: build-frontend, deploy-frontend

fixed survey results request, it works!!! yay!!! yipee!!! woohoo!!!
  iinspire-app/src/components/TheSurvey.tsx
  iinspire-app/src/components/util/SurveyItem.tsx
Due: build-frontend, deploy-frontend

changed big group to sliders, and made them look cooler 0_0
  iinspire-app/src/components/util/SurveyItem.tsx
Due: build-frontend, deploy-frontend

updated admin page to use API_ENDPOINTS
  iinspire-app/src/app/admin-home/page.tsx
  iinspire-app/src/components/results/graph.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

pc-view-students is done
  iinspire-app/src/app/pc-create-program/page.tsx
  iinspire-app/src/app/pc-programs-home/page.tsx
  iinspire-app/src/app/pc-view-students/page.tsx
Due: build-frontend, deploy-frontend

switch # students col with # submissions col
  iinspire-app/src/app/admin-home/page.tsx
Due: build-frontend, deploy-frontend

fix for user
  Backend/api/UserNew/User.controller.js
  Backend/api/UserNew/User.service.js
  iinspire-app/src/components/util/create-account.tsx
  iinspire-app/src/constants/config.ts
Due: build-backend, build-frontend, deploy-frontend

fix for user
  iinspire-app/src/components/util/create-account.tsx
  iinspire-app/src/constants/config.ts
Due: build-frontend, deploy-frontend

added password field for create account and requires that password for login
  Backend/api/UserNew/User.controller.js
  Backend/api/UserNew/User.service.js
  iinspire-app/src/components/util/create-account.tsx
Due: build-backend, build-frontend, deploy-frontend

delete student by id, updated date format, added program created at date
  Backend/api/UserNew/User.controller.js
  Backend/api/UserNew/User.router.js
  Backend/api/UserNew/User.service.js
  Backend/api/program/program.service.js
  Backend/api/surveyResults/surveyResults.controller.js
  Backend/api/surveyResults/surveyResults.service.js
Due: build-backend

change to make login work again
  Backend/api/UserNew/User.controller.js
Due: build-backend

survey styling fixes
  iinspire-app/src/components/TheSurvey.tsx
  iinspire-app/src/components/ui/slider.tsx
  iinspire-app/src/components/util/SurveyItem.tsx
Due: build-frontend, deploy-frontend

added last question
  iinspire-app/src/app/student-survey/SurveyQuestionInterface.ts
  iinspire-app/src/components/TheSurvey.tsx
  iinspire-app/src/components/util/SurveyItem.tsx
Due: build-frontend, deploy-frontend

fixed last question
  iinspire-app/src/components/TheSurvey.tsx
Due: build-frontend, deploy-frontend

fr last question fix
  iinspire-app/src/components/TheSurvey.tsx
Due: build-frontend, deploy-frontend

added confirmation screen before survey
  iinspire-app/src/app/student-survey/page.tsx
  iinspire-app/src/components/TheSurvey.tsx
Due: build-frontend, deploy-frontend

fixed hydration warning
  iinspire-app/src/app/student-survey/page.tsx
Due: build-frontend, deploy-frontend

Path conditions:
  build-backend: any of: Backend/**/*, .gitlab-ci.yml
  build-frontend: any of: iinspire-app/**/*, .gitlab-ci.yml
  deploy-frontend: any of: iinspire-app/**/*, .gitlab-ci.yml
