Repository ninagadelha/Senior_Design_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

build-backend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:latest
    entrypoint:
    - ''
  script:
  ...

build-frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:latest
    entrypoint:
    - ''
  script:
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build-backend, build-frontend

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: build-backend, build-frontend

updated chakra to allow for Toast. Added different dashboards for different user types
  iinspire-app/package-lock.json
  iinspire-app/package.json
  iinspire-app/src/app/admin-dashboard/page.tsx
  iinspire-app/src/app/pc-dashboard/page.tsx
  iinspire-app/src/components/login-box.tsx
Due: build-frontend

file adjustments, PC-dashboard nearly complete
  iinspire-app/src/app/admin-home/page.tsx
  iinspire-app/src/app/page.tsx
  iinspire-app/src/app/pc-dashboard/page.tsx
  iinspire-app/src/app/pc-home/page.tsx
  iinspire-app/src/app/student-home/page.tsx
  iinspire-app/src/components/StudentDashboard.tsx
  iinspire-app/src/components/dashboards/PC-Dashboard.tsx
  iinspire-app/src/components/dashboards/StudentDashboardNew.tsx
  iinspire-app/src/components/dashboards/dashboard-route-card.tsx
  iinspire-app/src/components/util/footer.tsx
  iinspire-app/src/components/util/login-box.tsx
Due: build-frontend

fixing for build
  iinspire-app/src/components/util/login-box.tsx
Due: build-frontend

null checks to fix build
  iinspire-app/src/components/util/SurveyItem.tsx
Due: build-frontend

working survey results
  Backend/api/surveyResults/surveyResults.controller.js
  Backend/api/surveyResults/surveyResults.router.js
  Backend/api/surveyResults/surveyResults.service.js
Due: build-backend

nextauth start "npm install nextauth" and creation of login check
  Backend/.env
  Backend/api/auth/nextauth.js
  iinspire-app/src/app/student-home/login.tsx
  iinspire-app/src/app/student-home/page.tsx
Due: build-backend, build-frontend

created api call, just need to fix formatting of responses
  iinspire-app/src/components/TheSurvey.tsx
Due: build-frontend

Added auth-context
  iinspire-app/src/app/layout.tsx
  iinspire-app/src/app/pc-home/page.tsx
  iinspire-app/src/components/dashboards/PC-Dashboard.tsx
  iinspire-app/src/components/util/login-box.tsx
  iinspire-app/src/components/util/navbar.tsx
  iinspire-app/src/context/auth-context.tsx
Due: build-frontend

fix pipeline
  iinspire-app/src/app/student-home/login.tsx
Due: build-frontend

fix pipeline
  iinspire-app/src/app/student-home/page.tsx
Due: build-frontend

updated PC endpoints for all functionality
  Backend/api/UserNew/User.controller.js
  Backend/api/UserNew/User.router.js
  Backend/api/UserNew/User.service.js
  Backend/api/program/program.controller.js
  Backend/api/program/program.router.js
  Backend/api/program/program.service.js
Due: build-backend

updated with user context
  iinspire-app/src/components/TheSurvey.tsx
Due: build-frontend

small fixes
  iinspire-app/src/app/about/page.tsx
  iinspire-app/src/components/util/navbar.tsx
  iinspire-app/src/context/auth-context.tsx
Due: build-frontend

dr rover suggestions + dark mode fix
  iinspire-app/src/components/TheSurvey.tsx
  iinspire-app/src/components/util/SurveyItem.tsx
Due: build-frontend

Path conditions:
  build-backend: any of: Backend/**/*, .gitlab-ci.yml
  build-frontend: any of: iinspire-app/**/*, .gitlab-ci.yml
